#svg_copied {
    content: "SVG Copied to Clipborad!";
    display: block;
    position: fixed !important;
    bottom: 0;
    text-align: center;
    font-family: verdana, sans-serif;
    font-size:  1.5em;
    letter-spacing: 1px;
    color: #fff;
    background: rgba(29, 188, 0, 0.95);
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 99999999;
    padding: 0.5em;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}